body {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  text-align: center;
}

#hero {
    width: 592px;
    margin: auto;
}

#hero img {
    Width: 348px;
    margin: 0 0 72px 0;
}

p{
    line-height: 28px;
    font-size: 14px;
    padding: 0 0 14px 0;
}


h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span, a {
  color: #ff9900;
}

p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
    margin-left: 28px;
}

.line {
    width: 562px;
    height: 0;
    margin: 58px auto 8px;
    border: 1px solid #eceff2;
}

#footer{
    margin: 0 0 33px 0;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}